#header{
    background-color: rgb(64, 69, 39);
    color: white;
}

#header h1{
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav li{
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
}