#navigation-container{
    position: relative;
    margin: 30px;
    height: 600px;
    width: 300px;
}

h2{
    text-align: center;
}

#navigation {
    text-align: center;
    background-color: #ce7845;
    color: white;
  }
  
  #movement-buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .move-button {
    cursor: pointer;
  }
  
  image:hover {
    color: white;
  }
  
  #return:hover {
    background-color: #753a44c7;
  }
  
  #movement-buttons-top,
  #movement-buttons-bottom {
    height: 60px;
  }
  
  #movement-buttons-center {
    display: flex;
    align-items: center;
  }
  
  #return {
    height: 60px;
    width: 70px;
    border-radius: 10px;
    background-color: #5c2932;
    color: white;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  #north {
    height: 60px;
    width: 60px;
    transform: rotate(270deg);
  }
  
  #south {
    height: 60px;
    width: 60px;
    transform: rotate(90deg);
  }
  
  #east {
    height: 60px;
    width: 60px;
  }
  
  #west {
    height: 60px;
    width: 60px;
    transform: rotate(180deg);
  }